<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005765712601-9j0p6sg7u70ujmhbk8jga5smefckgn4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005765712601-9j0p6sg7u70ujmhbk8jga5smefckgn4d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1005765712601-vbp87rcafj4ued5k03laiqc0pkd9raj8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwzCV6892r1nWd3dcmBbGJh_7a7Bp9x7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1005765712601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raynear.housekeeper</string>
	<key>PROJECT_ID</key>
	<string>house-keeper-10354</string>
	<key>STORAGE_BUCKET</key>
	<string>house-keeper-10354.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005765712601:ios:626d9fa481c364bbb3fcc8</string>
	<key>DATABASE_URL</key>
	<string>https://house-keeper-10354.firebaseio.com</string>
</dict>
</plist>