<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876396167056-cdv2sksmnft3euokf8mhu4h8hcfbr0c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876396167056-cdv2sksmnft3euokf8mhu4h8hcfbr0c0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>876396167056-b01t3fh7ebiabv3rrivg80gjdtbq16ph.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPuls9Sj6530fEol4OmF88j-7QBU80I84</string>
	<key>GCM_SENDER_ID</key>
	<string>876396167056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raynear.housekeeper</string>
	<key>PROJECT_ID</key>
	<string>travel-line-e5349</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-line-e5349.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876396167056:ios:59538f2bd9127c3178fd15</string>
	<key>DATABASE_URL</key>
	<string>https://travel-line-e5349.firebaseio.com</string>
</dict>
</plist>